$family-sans-serif: "PingFang SC", Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

$family-primary: $family-sans-serif;

$black: #232c37;
$black-bis: #28323f;
$black-light: rgba(35, 44, 55, 0.5);
$black-lighter: rgba(22, 27, 33, 0.8);

$grey-darker: #303b4b;
$grey-dark: #616a79;
$grey: #838d9e;
$grey-light: #ddd;
$grey-lighter: #eee;

$red: #ff4a4a;
$yellow: #ffe100;
$green: #3cc864;
$orange: #eb6422;
$blue: #218df2;
$blue-light: #0ab4fa;
$white: #dddddd;
$dark: #222222;

